body {
	background-color: lightblue;
	font-family: 'times new roman', sans-serif;
}

h1 {
	color: black;
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

p {
	color: black;
	font-size: 14px;
}

#paragraph2{
	background-color: white;
	border: 5px solid #006400;
	padding: 20px 0;
	margin: 20px 0 20px 60px;
	font-size: 14px;
	width: 55%;
	line-height: 2.5;
}

.blue{
	color: white;
	background-color: #00008B;
	padding: 10px;
	margin: 20px 0;
	border: 5px solid black;
	font-size: 14px;
	text-align: left;
	padding-left: 10px;
}

h2 {
	color: black;
	text-align: left;
	font-size: 28px;
}

ol {
	list-style-type: decimal-leading-zero;
	margin-left: 0;
	padding-left: 10px;
	text-align: left;
	margin: 16px;
}

a {
	font-size: 14px;
	font-color: #800080;
}

h3 {
	color: black;
	text-align: left;
	font-size: 18px;
}

table, th, td {
	border: 1px solid;
	padding: 5px;
	background-color: white;
	font-size: 14px;
}

th {
	background-color: #D3D3D3;
}
