body {
	background-color: lightblue;
	font-family: 'times new roman', sans-serif;
}

h1 {
	color: black;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

p {
	color: black;
	font-size: 14px;
}

#paragraph2{
	color: black;
	background-color: white;
	border: 5px #006400;
	padding: 20px;
	margin: 20px;
}

#blue{
	font-size: white;
	background-color: #00008B;
	padding: 10px;
	margin: 20px;
	border: 5px black;
}

h2 {
	color: black;
	text-align: left;
	font-size: 28px;
}

ol {
	list-style-type: decimal-leading-zero;
	margin-left: 20px;
}

a {
	font-size: 14px;
	font-color: #800080;
}

h3 {
	color: black;
	text-align: left;
	font-size: 18px;
}

table, th, td {
	border: 1px solid;
	padding: 5px;
	background-color: white;
	font-size: 14px;
}

th {
	background-color: #D3D3D3;
}
